* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #495057;
    transition: 0.5s;
}

header {
    background-image: linear-gradient(
        135deg,
        rgba(255, 255, 255, 1),
        rgba(212, 231, 254, 1)
    );
    margin-bottom: 46px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0;
}

.dropdown-icon {
    width: 14px;
    height: 14px;
    transform: translateY(4px);
}

.cl-blue {
    color: rgba(33, 123, 244, 1);
}

a:link {
    font-size: 14px;
    text-decoration: none;
}

.heading a:link {
    color: rgba(33, 123, 244, 1);
}

section {
    margin-bottom: 46px;
    padding: 64px 0;
}

.logo {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    display: flex;
}

.logo img {
    width: 34px;
    height: 34px;
    font-size: 24;
}

.logo span {
    align-self: center;
}

.left-nav {
    display: flex;
    align-items: center;
    gap: 4vw;
}

.nav-items {
    display: flex;
    gap: 2vw;
}

.nav-item:first-child {
    font-weight: 600;
}

.search-icon {
    width: 20px;
    height: 20px;
}

input {
    border: none;
    background: none;
}

.search {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    font-size: 12px;
}

hr {
    width: 100%;
    position: absolute;
    bottom: -10px;
}
.right-nav {
    display: flex;
    align-items: center;
    gap: 2vw;
}

.container {
    width: 80vw;
    margin: 0 auto;
}

.flex-row {
    display: flex;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.community {
    display: inline-block;
    background-color: rgba(33, 123, 244, 0.2);
    color: rgba(33, 123, 244, 1);
    font-size: 12px;
}

.hero a,
.hero h1,
.hero p {
    margin-bottom: 24px;
}
.cta {
    display: flex;
    gap: 8px;
}

.btn {
    padding: 16px 32px;
    border-radius: 10px;
}

.btn-primary {
    border: none;
    background-color: rgba(33, 123, 244, 1);
    color: #fff;
    box-shadow: 1px 1px 2px #868e96;
}

.invite {
    border: 1px solid rgba(33, 123, 244, 1);
    color: rgba(33, 123, 244, 1);
}

.hero img {
    width: 50%;
}

h1 {
    font-size: 56px;
    font-weight: 700;
}

.about-us img,
.blog img {
    border-radius: 5%;
}

.right-arrow {
    width: 15px;
    height: 15px;
    transform: translateY(2px);
}

.see-more {
    display: flex;
    align-items: center;
    gap: 5px;
}

.heading {
    width: 420px;
    text-align: center;
    align-items: center;
}

.lift:hover {
    transform: scale(1.03, 1.03);
    box-shadow: 8px 4px 36px 0.5px #adb5bd;
    border: none;
}

.lift:hover .see-more {
    color: rgba(33, 123, 244, 1);
}

.btn:hover {
    transform: scale(1.03, 1.03);
    box-shadow: 8px 4px 36px 0.5px #adb5bd;
}

.see-more:hover {
    color: rgba(33, 123, 244, 1);
}

.see-more:hover .right-arrow {
    stroke: rgba(33, 123, 244, 1);
    fill: #217bf4;
}

/* ------------About Us Section------------ */

.about-us {
    gap: 13.889vw;
}

.about-us .right-col {
    gap: 29px;
}

.about-img-group {
    flex-direction: column;
    gap: 32px;
}

.about-img-1 {
    width: 18.75vw;
    height: calc(18.75vw * 1.36);
    opacity: 0.5;
}

.about-img-group img {
    width: 18.4vw;
    height: calc(18.4vw * 0.9);
    opacity: 0.5;
}

.about-us-image {
    border-radius: 5%;
    background-color: rgba(43, 43, 57, 1);
    position: relative;
    cursor: pointer;
}

.about-us-image::after {
    content: url('static/img/about-us-imgs/play-icon.svg');
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* ------------Achievement Section------------ */
.achievement-elements {
    gap: 20px;
}

.card-1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid rgba(185, 185, 185, 0.44);
    border-radius: 5px;
    padding: 44px 40px;
}

.members {
    transform: translateX(-17px);
}

.star-icon {
    width: 28px;
    height: 28px;
    stroke: rgba(33, 123, 244, 1);
}

.achievement-display {
    display: flex;
    align-items: center;
}

.discover {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.discover .btn {
    display: inline;
}

.discover .right-arrow {
    stroke: #fff;
    fill: #fff;
}

/* ------------Features Section------------ */

.features {
    background-image: linear-gradient(#fff, rgb(220, 233, 252), #fff);
}

.feature-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 44px;
}

.features .heading {
    grid-column: 1/-1;
    justify-self: center;
}

.card-2 {
    display: flex;
    gap: 20px;
    border-radius: 20px;
    padding: 44px 40px;
    background-color: #fff;
}

.card-2 h2 {
    margin-bottom: 20px;
}

.card-2 img {
    transform: translateY(-12px);
}

/* ------------Team Section------------ */

.team-items {
    flex-direction: column;
    gap: 44px;
}

.team-cards {
    width: 100%;
    justify-content: space-between;
}

.team-card {
    border: 1px solid #e9ecef;
    border-radius: 15px;
    padding: 36px;
    align-items: center;
}
.card-text p {
    text-align: center;
}

.tab-links {
    background-color: rgba(242, 247, 254, 1);
    padding: 28px 16px;
    border-radius: 15px;
}

.card-img {
    position: relative;
    border-radius: 50%;
    background: repeating-linear-gradient(
            rgba(255, 175, 46, 1),
            rgba(255, 175, 46, 1) 10%,
            #fff 10%,
            #fff 20%
        ),
        linear-gradient(rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 1));
}

.img {
    margin: 4px;
    padding: 12px;
    background-image: radial-gradient(rgba(222, 234, 252, 1) 60%, #fff 40%);
    border-radius: 50%;
}

.check-icon {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -4px);
}

/* ------------CTA Section------------ */

.cta {
    background-color: rgba(228, 239, 252, 1);
}

.mobile-muckup {
    width: 440.5px;
    height: 413px;
    transform: translateY(67px);
}
.apple-icon,
.play-store-icon {
    width: 28px;
    height: 28px;
}

.cta-links {
    display: flex;
    gap: 28px;
    margin-top: 28px;
}

.apple-link,
.play-store-link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.apple-link {
    background-color: #fff;
}

.play-store-link {
    background-color: rgba(41, 40, 78, 1);
}

.play-store-link p,
.apple-link p {
    font-size: 14px;
    font-weight: 600;
    color: rgba(174, 179, 196, 1);
}
.apple-link span {
    font-size: 18px;
    color: rgba(74, 78, 85, 1);
    font-weight: 600;
}

.play-store-link span {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
}

.cta-items {
    gap: 13.889vw;
}

/* ------------Blog Section------------ */
.indent {
    background-color: rgba(255, 175, 46, 1);
    width: 40px;
    height: 2px;
    align-self: flex-start;
    transform: translateY(12px);
}

.blog-text {
    gap: 12px;
}

.blog-text div {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.blog-flex {
    flex-direction: column;
    gap: 28px;
}

.blog-items {
    gap: 44px;
}

.blog img {
    width: 100%;
}

/* ------------footer Section------------ */
.footer {
    margin: 0;
    background-color: rgba(43, 43, 57, 1);
}

.footer-items {
    gap: 108px;
    align-items: flex-start;
    padding: 54px 0;
}
.footer-items p {
    color: #fff;
}

.footer-items input {
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 12px 24px;
    width: 100%;
}

.subscribe {
    position: relative;
}

.subscribe-btn {
    border: none;
    border-radius: 10px;
    padding: 13px 26px;
    position: absolute;
    right: 0;
    bottom: 0;
}

/* ------------footer------------ */
footer {
    background-color: rgba(32, 32, 45, 1);
}

.footer-foot {
    padding: 28px 0;
    justify-content: space-between;
}

.footer-foot span,
.footer-foot a:link {
    color: #fff;
}

.footer-socials {
    gap: 12px;
}

.footer-socials img {
    width: 20px;
    height: 20px;
}

.footer-social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background-color: white;
    border-radius: 50%;
}
